<?xml version="1.0" encoding="UTF-8"?>
<!-- https://springframework.guru/using-logback-spring-boot/ -->
<!-- http://logback.qos.ch/manual/appenders.html -->
<!DOCTYPE configuration>
<!-- <configuration debug="true"> -->
<configuration debug="true">

	<!-- <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" /> -->
    <!-- TODO quarkus.profile=quarkus.profile/>
    <dependency>
      <groupId>org.codehaus.janino</groupId>
      <artifactId>janino</artifactId>
    </dependency>
    <if condition='property("quarkus.profile").contains("native")'>
		<then> -->
 			<appender name="DB"
				class="ch.qos.logback.classic.db.DBAppender">
				<connectionSource
					class="ch.qos.logback.core.db.DriverManagerConnectionSource">
					<driverClass>${quarkus.datasource.jdbc.driver}</driverClass>
					<url>${quarkus.datasource.jdbc.url}</url>
					<user>${quarkus.datasource.username}</user>
					<password>${quarkus.datasource.password}</password>
				</connectionSource>
			</appender>
			<appender name="DB_ASYNC"
				class="ch.qos.logback.classic.AsyncAppender">
				<appender-ref ref="DB" />
				<includeCallerData>true</includeCallerData>
			</appender>

			<logger name="local.intranet" level="DEBUG">
				<appender-ref ref="DB_ASYNC" />
			</logger>
			<logger name="io.quarkus" level="DEBUG">
				<appender-ref ref="DB_ASYNC" />
			</logger>
    <!--
	    </then>
	</if> -->
 
	<logger name="org.hibernate.SQL" level="INFO" />
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="INFO" />
		
	<root level="INFO" />

</configuration>
